@import "./style";

.spacer-half {
    height: 15px;
}

.spacer-single {
    height: 30px;
}

.spacer-double {
    height: 60px;
}

// Custom Toastify Style
.Toastify__toast-body {
    font-size: 18px;
    width: 100%;
    font-weight: bolder;
}
.Toastify__toast--success {
    border: 1px solid var(--toastify-color-success) !important;
    color: var(--toastify-color-success) !important;
    text-shadow: 0 0 20px var(--toastify-color-success);
    background: rgba(7, 188, 12, 0.15) !important;
}
.Toastify__toast--warning {
    border: 1px solid var(--toastify-color-warning) !important;
    color: var(--toastify-color-warning) !important;
    text-shadow: 0 0 20px var(--toastify-color-warning);
    background: rgba(241, 195, 15, 0.15) !important;
}
.Toastify__toast--error {
    border: 1px solid var(--toastify-color-error) !important;
    color: var(--toastify-color-error) !important;
    text-shadow: 0 0 20px var(--toastify-color-error);
    background: rgba(231, 76, 60, 0.15) !important;
}

// Common Components
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    outline: none;
    line-height: 1.5;
    color: #6c7293;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid #000;
    appearance: none;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover,
    &:focus {
        color: #6c7293;
        box-shadow: 0 0 0 0.25rem rgba(235, 22, 22, 0.25);
    }
}

.btn-primary {
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    padding: 10px;
    color: var(--font-white-color);
    text-align: center;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.4s;

    &:hover {
        background-color: transparent;
        color: var(--secondary);
    }
}

.todo__strike {
    position: relative;

    ::after {
        position: absolute;
        top: 50%;
        left: 3%;
        content: "";
        width: 75%;
        border: 1px solid rgba(255, 0, 0, 0.137);
    }
}

.task__strike {
    position: relative;

    ::after {
        position: absolute;
        top: 50%;
        left: 3%;
        content: "";
        width: 63%;
        border: 1px solid rgba(255, 0, 0, 0.137);
    }
}

// TodoPage Style
.todo {
    .todo__table {
        background-color: var(--secondary);
        min-width: 685px;
        padding: 10px;
        border-radius: 5px;

        table {
            width: 100%;
            border-collapse: collapse;
        }

        thead {
            th {
                text-align: center;
                padding: 20px;
            }
        }

        tbody {
            td {
                text-align: center;
                padding: 20px;
                color: var(--light);
            }

            tr {
                &:hover {
                    background-color: var(--dark);
                    cursor: pointer;
                }
            }
        }
    }
}

// Modal
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.modal {
    position: fixed;
    z-index: 20;
    background: #fff;
    width: 500px;

    /* Center the modal */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    .modal__header {
        background: var(--secondary);
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
    }

    .modal__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        span {
            label {
                width: 125px;
                text-align: right;
            }

            textarea {
                resize: vertical;
            }

            width: 100%;
            flex: 1;
            gap: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .close-button {
        border: none;
        background: transparent;
        padding: 10px;
        cursor: pointer;
        color: #fff;
        font-size: 36px;

        &:hover {
            color: var(--primary);
        }
    }

    .button {
        background: green;
        border: none;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            background: var(--primary);
        }
    }
}
